@font-face {
    font-family: 'Hakgyoansim Gureum';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGureum/HakgyoansimGureum.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGureum/HakgyoansimGureum.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGureum/HakgyoansimGureum.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGureum/HakgyoansimGureum.ttf') format('truetype');
}
